html {
    /* font-family: 'Domine', serif; */
  }
  



/* Add a black background color to the top navigation */
.navbar {
    position: relative;
    background-color: #1A1B1E;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10vw;
    text-decoration: none;
    font-size: 17px;
    /* border: 3px solid rgb(0, 128, 0); */
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Centered section inside the top navigation */
  .navbar-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .navbar-right {
    float: right;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .navbar a, .navbar-right {
      float: none;
      display: block;
    }
  
    .navbar-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }
  header {                                  /* pt2 element selector */
    background-color: #2b2d31;  /* pt1 background color using hsl or hsla */
  
    /* margin long hand notations */
    margin-top: 2mm;                        /* pt1 unqiue absolute length unit 1 */
    margin-bottom: 0.4cm;                   /* pt1 unique absolute length unit 2 */
    margin-left: 1vw;                      /* pt1 unique absolute length unit 3 */
    margin-right: 1vw;
  
    /* border long hand notations */
    border-style: solid;
    border-color: rgb(0, 0, 0);           /* pt1 color using rgb or rgba */
    border-width: auto;
    border-radius: auto;
    /* border: 3px solid rgb(0, 128, 0); */
  }
  
  body {
      background-color: #313338;          /* pt1 background color using hex code */
      /* border: 3px solid rgb(0, 128, 0); */
  }
  
  .intro {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  h1 {    /* main heading */
    color: white;                         /* pt1 color using name */
    text-align: center;                     /* pt1 text align */
    padding: 10px 10px 0pt 10px;                          /* pt1 padding short hand notation */
    /* border: 3px solid rgb(0, 128, 0); */
  }
  
  #subtitle {   /* class to center */
    color: white;                         
    text-align: center;
    margin: auto;                           /* pt1 auto margin */
    padding-bottom: 20px;                    /* pt1 unique relative length unit 2 */
    /* border: 3px solid rgb(0, 128, 0); */
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 96vw;
    padding-bottom: 1vw;
}

  #center {   /* class to center */           
    text-align: center;
    margin: auto;                           /* pt1 auto margin */
    padding-bottom: 20px;                    /* pt1 unique relative length unit 2 */
    /* border: 3px solid rgb(0, 128, 0); */
  }
  
  h2 {    /* subheadings */
    color: #959BA3;
    /* border: 3px solid rgb(0, 128, 0); */
  }

  html body > *:not(.links) {     /* pt2 universal selector, child combinator, pseudo-class selector */
    color: white;
  }

  details {
    padding-top: 10px;
    /* border: 3px solid rgb(0, 128, 0); */
  }

  footer {
    margin-left: 1vw;
  }